<div>
                <div class="row">
                    <div class="btn-group alg-left-pad">
                        <button type="button" class="btn btn-default">Bài viết nổi bật</button>
                        <button type="button" class="btn btn-default"><strong>{{BDNBCount}} </strong>Bài viết</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                Sắp xếp &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tiêu đề</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ngày đăng</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Chuyên mục</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Tag</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <!-- tempffffffffffffffffffffffffffffffffffffffffffffffff -->
                    {{#each BDNB}}
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="/bai-viet-chi-tiet/{{id}}">
                                <img class="media-object" src="{{hinh_anh}}">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a
                                        href="/bai-viet-chi-tiet/{{id}}">{{tieu_de}}
                                        &nbsp
                                        <span class="label label-danger pull-right">
                                            <blink>HOT</blink>
                                        </span>
                                </h4></a>

                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>{{noi_dung_tom_tat}}</p>


                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> {{ngay_dang}} </span></li>
                                    <li>|</li>
                                    {{!-- <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li> --}}
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">{{tags}}</a></span>
                                    <li>|</li>

                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.456</span>

                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>


                <!-- end tempfffffffffffffffffffffffffffffffffffffffffffffffffffffff -->
                <!-- Top 10 xem nhiều nhất -->
                <div class="row">
                    <div class="btn-group alg-left-pad">
                        <button type="button" class="btn btn-default">Top 10 bài viết nổi bật</button>
                        <button type="button" class="btn btn-default"><strong>{{BDXNCount}} </strong>Bài viết</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                Sắp xếp &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tiêu đề</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ngày đăng</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Chuyên mục</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Tag</a></li>
                            </ul>
                        </div>
                    </div>

                    {{#each BDXN}}
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="/bai-viet-chi-tiet/{{id}}">
                                <img class="media-object" src="{{hinh_anh}}">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a
                                        href="/bai-viet-chi-tiet/{{id}}">{{tieu_de}}
                                        &nbsp
                                        <span class="label label-danger pull-right">
                                            <blink>HOT</blink>
                                        </span>
                                </h4></a>

                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>{{noi_dung_tom_tat}}</p>


                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> {{ngay_dang}} </span></li>
                                    <li>|</li>
                                    {{!-- <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li> --}}
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">{{tags}}</a></span>
                                    <li>|</li>

                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.456</span>

                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <!--End temp--->
                <!-- Top 10 bai viet moi nhat -->
                <div class="row">
                    <div class="btn-group alg-left-pad">
                        <button type="button" class="btn btn-default">Top 10 bài viết mới nhất</button>
                        <button type="button" class="btn btn-default"><strong>{{BDMNCount}} </strong>{{BDMNCount}}</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                Sắp xếp &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tiêu đề</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ngày đăng</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Chuyên mục</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Tag</a></li>
                            </ul>
                        </div>
                    </div>
                    {{!-- Bài đăng mới nhât --}}
                    {{#each BDMN}}
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="/bai-viet-chi-tiet/{{id}}">
                                <img class="media-object" src="{{hinh_anh}}">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a
                                        href="/bai-viet-chi-tiet/{{id}}">{{tieu_de}}
                                        &nbsp
                                        <span class="label label-danger pull-right">
                                            <blink>HOT</blink>
                                        </span>
                                </h4></a>

                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>{{noi_dung_tom_tat}}</p>


                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> {{ngay_dang}} </span></li>
                                    <li>|</li>
                                    {{!-- <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li> --}}
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">{{tags}}</a></span>
                                    <li>|</li>

                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.456</span>

                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <!--End temp--------------------------------->
                <!-- Top 10 chuyen muc -->
                <div class="row">
                    <div class="btn-group alg-left-pad">
                        <button type="button" class="btn btn-default">Top 10 chuyên mục</button>
                        <button type="button" class="btn btn-default"><strong>{{BDCMCount}} </strong>Bài viết</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                Sắp xếp &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tiêu đề</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ngày đăng</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Chuyên mục</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Tag</a></li>
                            </ul>
                        </div>
                    </div>
                    {{!-- Bài top chuyên mục --}}
                    {{#each BDCM}}
                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="/bai-viet-chi-tiet/{{id}}">
                                <img class="media-object" src="{{hinh_anh}}">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a
                                        href="/bai-viet-chi-tiet/{{id}}">{{tieu_de}}
                                        &nbsp
                                        <span class="label label-danger pull-right">
                                            <blink>HOT</blink>
                                        </span>
                                </h4></a>

                                <!-- <p class="text-right">By Francisco</p> -->
                                <p>{{noi_dung_tom_tat}}</p>


                                <ul class="list-inline list-unstyled">
                                    <li><span><i class="glyphicon glyphicon-calendar"></i> {{ngay_dang}} </span></li>
                                    <li>|</li>
                                    {{!-- <span><i class="glyphicon glyphicon-th-list"></i>Kinh doanh</span>
                                    <li>|</li> --}}
                                    <span><i class="glyphicon glyphicon-tag"></i><a href="#" style="color: black;">{{tags}}</a></span>
                                    <li>|</li>

                                    <span><i class="glyphicon glyphicon-eye-open"></i> 1.456</span>

                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>