<div class="col-md-9">
    <!--div change info-->
    <div>
        <!-- Quản lý bài viêt -->
        <div>
            <h2>Quản lý bài viết của bạn</h2>
            <hr>
            <div class="table100 ver3">
                <table data-vertable="ver3">
                    <thead>
                        <tr class="row100 head">
                            <th class="column100 column1" data-column="column1">Title</th>
                            <th class="column100 column2" data-column="column2">Tag</th>
                            <th class="column100 column3" data-column="column3">Author</th>
                            <th class="column100 column4" data-column="column4">Date</th>
                            <th class="column100 column5" data-column="column5">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each BaiViet}}
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">{{titleBV}}</td>
                            <td class="column100 column2" data-column="column2">{{tags}}</td>
                            <td class="column100 column3" data-column="column3">{{author}}</td>
                            <td class="column100 column4" data-column="column4">{{date}}</td>
                            <td class="column100 column5" data-column="column5">
                                <a> Edit </a>
                                |
                                <a> Details </a>
                                |
                                <a onclick="onRowClickDelete('{{id}}')"> Delete </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>