<h1 class="mt-4" id="title-bai-viet">{{BD.tieu_de}}</h1>

<ul id="tags-bai-viet" class="list-inline list-unstyled">
    <li><span><i class="glyphicon glyphicon-calendar"></i> {{BD.ngay_dang}} </span></li>
    {{#each tagBD as |val key|}}
    <li> | </li>
    <span><i class="glyphicon glyphicon-tag"></i> {{val}} </span>
    {{/each}}
</ul>
<hr>

<div class="content" id="content-bai viet">
    {{#each tpBV}}
     {{!-- neu thanh phan la anh --}}
    {{#xif type "image"}}
        <img class="img-main my-4" id="image" src="{{noi_dung_bai_viet}}"><hr>
    {{/xif}}

    {{#xif type "strong"}}
        <p><strong>{{noi_dung_bai_viet}}</strong></p>
    {{/xif}}

    {{#xif type "text"}}
        <p>{{noi_dung_bai_viet}}</p>
    {{/xif}}
    {{/each}}
</div> 
<div style="
    float: right;
    margin-top: 30px;
    margin-right: 45px;
    font-style: italic;
">
    Tác giả: {{BD.tac_gia}}
</div>
